fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
alembic==1.13.2
pydantic==2.9.2
pydantic-settings==2.5.2
python-multipart==0.0.9
Pillow==10.4.0
python-jose[cryptography]==3.3.0
pwdlib[argon2]==0.3.1
python-dotenv==1.0.1
psycopg2-binary==2.9.9
email-validator==2.2.0
